:root {
  --vosviewer-green: #1e7896;
  --md-primary-fg-color: var(--vosviewer-green);
  --md-primary-fg-color--light: #4b93ab;
  --md-primary-fg-color--dark:  #155469;
  --md-accent-fg-color: hsla(195, 39%, 48%, 1);
  --md-accent-fg-color--transparent: hsla(195, 39%, 48%, 0.1);
}

.md-header__title {
  margin-left: 0;
}

.md-typeset h1 {
	font-size: 2em;
}

.md-typeset h2 {
	font-size: 1.6em;
}

.md-typeset h3 {
	font-size: 1.3em;
}

.md-typeset h4 {
	font-size: 1.1em;
}

.md-typeset h5 {
	font-size: 1em;
	text-transform: none;
}

.md-typeset h6 {
	font-size: 0.9em;
}
